<html>
    <head>
        <title>Rouitne App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
        <script src="https://use.fontawesome.com/6a189fbf30.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed menu">
            <div class="ui container">
                <div class="header item"><i class="fa fa-list-alt" aria-hidden="true"></i>Routine Builder</div>
                <a href="/routines" class="item">Home</a>
                <a href="/routines/new" class="item">New Post</a>
            </div>
        </div>