<% include ../partials/header %>

<div class="ui main text container segment" id="greeting">
  <h2 class="ui huge header"><%= routine.title %></h2>
  <p><%= routine.description %></p>

  <div class="ui top attached tabular menu">   
    <a class="active item teal-card" data-tab="first">Sunday</a>
    <a class="item blue-card" data-tab="second">Monday</a>
    <a class="item green-card" data-tab="third">Tuesday</a>
    <a class="item yellow-card" data-tab="fourth">Wednesday</a>
    <a class="item red-card" data-tab="fifth">Thursday</a>
    <a class="item teal-card" data-tab="sixth">Friday</a>
    <a class="item blue-card" data-tab="seventh">Saturday</a>
  </div>
  
  <div class="ui bottom attached active tab segment" data-tab="first">
    <table class="ui selectable celled table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
      <% routine.week.monday.forEach(function(exercise){ %>
        <tr>
          <td>John</td>
          <td>No Action</td>
          <td>None</td>
          <td>None</td>
        </tr>
      <% }); %>
      </tbody>
    </table>
  </div>
  <div class="ui bottom attached tab segment" data-tab="second">
    <table class="ui selectable celled table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
      <% routine.week.monday.forEach(function(exercise){ %>
        <tr>
          <td>John</td>
          <td>No Action</td>
          <td>None</td>
          <td>None</td>
        </tr>
      <% }); %>
      </tbody>
    </table>
  </div>
  <div class="ui bottom attached tab segment" data-tab="third">
    <table class="ui selectable celled table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
      <% routine.week.monday.forEach(function(exercise){ %>
        <tr>
          <td>John</td>
          <td>No Action</td>
          <td>None</td>
          <td>None</td>
        </tr>
      <% }); %>
      </tbody>
    </table>
  </div>
  <div class="ui bottom attached tab segment" data-tab="fourth">
    <table class="ui selectable celled table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
      <% routine.week.monday.forEach(function(exercise){ %>
        <tr>
          <td>John</td>
          <td>No Action</td>
          <td>None</td>
          <td>None</td>
        </tr>
      <% }); %>
      </tbody>
    </table>
  </div>
  <div class="ui bottom attached tab segment" data-tab="fifth">
    <table class="ui selectable celled table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
      <% routine.week.monday.forEach(function(exercise){ %>
        <tr>
          <td>John</td>
          <td>No Action</td>
          <td>None</td>
          <td>None</td>
        </tr>
      <% }); %>
      </tbody>
    </table>
  </div>
  <div class="ui bottom attached tab segment" data-tab="sixth">
    <table class="ui selectable celled table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
      <% routine.week.monday.forEach(function(exercise){ %>
        <tr>
          <td>John</td>
          <td>No Action</td>
          <td>None</td>
          <td>None</td>
        </tr>
      <% }); %>
      </tbody>
    </table>
  </div>
  <div class="ui bottom attached tab segment" data-tab="seventh">
    <table class="ui selectable celled table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
      <% routine.week.monday.forEach(function(exercise){ %>
        <tr>
          <td>John</td>
          <td>No Action</td>
          <td>None</td>
          <td>None</td>
        </tr>
      <% }); %>
      </tbody>
    </table>
  </div>
  <a href="/routines/<%= routine._id %>/edit" class="ui button medium teal">Add or Remove Exercises</a>
</div>

<script type="text/javascript">
$('.menu .item')
  .tab();
</script>


<% include ../partials/footer %>

